/* 
    Document   : style
    Created on : 1 déc. 2012, 10:25:52
    Author     : Valooj
    Description:
        Purpose of the stylesheet follows.
    Dans une feuille de style on part toujours, du plus génréral pour aller vers
    le plus particulier.
*/

root { 
    display: block;
}
html {
    font-size: 100%; /* Évite un bug d'IE 6-7.  */
}
img{
    
}
a{
    
}
ul{
    list-style: none;    
        
}
li{
    width: 5em;
    height: 5em;
    border-style: dashed;
    border-width: 3px;
    display: inline-block;
    background-color: #ccccff;
   
}
body {
    margin: 0;
    padding: 1em; /* Remettre à zéro si nécessaire. */
    font-family: Helvitica,Verdana,Arial,sans-serif;  /* Plusieurs choix de police nécéssaire  */
    font-size: .8em; /* À adapter pour la police choisie. */
    line-height: 1.4; /* À adapter au design. */
    color: black;
    background-image: url("images/Grapess.jpg");
    background-attachment: fixed;
    background-position: center center;
    text-align: justify;
    /*border-style: double;
    border-width: 1em;
    border-color: silver;   /* Pour effacer les doubles lignes sur les cotes */
    
}
div#header{
    
    
    
    opacity: 1;
    background-image: url("images/boussole.png");
    /*border: 20px #ffffff outset ;
    border-style: solid;
    border-width: 1px;*/
    margin: 0 auto; 
    width: 1023px; /*au max*/
    height: 256px; /*au max*/
    /*background-color: #efbe75;*/
    margin-left: auto;
    margin-right: auto;
    width: 1000;
}
div#content{
    
    opacity: 0.6;
    border-width: 1px;
    border: 10px #ffffff outset;
    border-style: double;
    width: 1000px; /*au max*/
    height: 80em; 
    background-color: #efbe75;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 4px;
    width: 1000;
    
    
}
div#footer{
    
    border: 10px #ffffff outset;
    border-style: double;
    background-color: #cc66ff;
    border-width: 1px;
    width: 1000px; /*au max*/
    height: 15em; /*au max*/
    font-family: Arial,Helvetica,sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 1000;
}

